/* Stili per la pagina del QR code */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1{
    margin: 0.5em;
}

main h2{
    margin: 1.5em;
    font-family: 'Lora', 'sans-serif';
    font-weight: normal;
}

.qr-code-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-code-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.qr-code-container .btn {
    font-family: 'Aboreto', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    background: linear-gradient(225deg, #007F3B, #00BF0D);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.qr-code-container .btn:hover {
    background-color: #028a0c;
    transform: scale(1.05);
}