main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

#login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 6em;
    gap: 4em;
}

.scelta_login {
    perspective: 1000px;
    flex: 1;
    min-width: 300px;
    max-width: 425px;
    margin: 20px;
    padding: 2.5em;
    border: 2px solid #00B516;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.6s, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    position: relative;
    box-sizing: border-box;
}

.scelta_login:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.scelta_login p {
    margin-bottom: 1.5em;
    margin-left: 0;
    color: #000000;
    font-family: 'Lora', sans-serif;
    font-size: 1.2em;
}

.accedi {
    font-family: 'Aboreto', sans-serif;
    font-size: 1em;
    color: #ffffff;
    background: linear-gradient(225deg, #007F3B, #00BF0D);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.accedi:hover {
    background-color: #028a0c;
    transform: scale(1.05);
}

.accedi p{
    font-family: 'Aboreto', sans-serif;
    font-size: 1em;
    color: #ffffff;
    margin: 1em;
}

@media (max-width: 768px) {
    .scelta_login {
        width: 80%;
        height: auto;
        margin: 1em 0;
    }
}